#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.page {
	width: 100%;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
  }

.vis{
	margin-bottom: 10rem;
}